<!DOCTYPE html>
<html lang="en">

<head>
    <title>Add Blog</title>
    <%- include('./partials/head') %>
    <style>
        /* Custom styles for responsiveness */
        @media (max-width: 576px) {
            h2 {
                font-size: 1.5rem; /* Adjust heading size for small screens */
            }
        }
    </style>
</head>

<body>
    <%- include('./partials/navbar') %>
    <div class="container mt-5">
        <h2 class="text-center">Add Blog</h2>
        <form method="post" action="/blogs" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" name="title" id="title" required />
            </div>
            <div class="mb-3">
                <label for="body" class="form-label">Body</label>
                <textarea class="form-control" name="body" id="body" rows="10" required></textarea>
            </div>
            <div class="mb-3">
                <label for="coverImage" class="form-label">Cover Picture</label>
                <input type="file" class="form-control" name="coverImage" id="coverImage" />
            </div>
            <button type="submit" class="btn btn-primary">Add</button>
        </form>
    </div>
    <%- include('./partials/script') %>
</body>

</html>
